/* Hide the default checkbox */
.checkmark-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  display: none;
}

/* Custom checkbox styling */
.checkmark-container {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 30px;
  font-size: 1.1em;
}

.checkmark-container .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #191A1E;
  border-radius: 4px;
  border: 2px solid navy;
  transition: all ease 0.3s;
}

/* Style for the tick mark */
.checkmark-container input:checked + .checkmark {
  background-color: navy;
}

.checkmark-container input:checked + .checkmark::after {
  content: "";
  position: absolute;
  top: 35%;
  left: 50%;
  width: 5px;
  height: 12px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg); /* Center align and rotate */
}
